.container{
	margin: auto;
	margin-top: -25px;
	width: 720px;
}

.game {
	background-color: green;
}

.row{
	width: 100%;
	display: flex;
}

.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.66%;
}

.col-4{
	width: 33.33%;
}

.col-6{
	width: 50%;
}

.col-8{
	width: 66.67%;
}

.col-10{
	width: 83.3%;
}

.top_space{
	height: 25vh;
}

.score_box {
	float:right;
	border: solid 1px red;
	border-radius: 5px;
	height: 10vh;
	background-color: black;
	color: white;	
	display: flex;
	align-items: center;
}

.stopwatch{
	width:50%;
	margin:0 auto;
	text-align: center;
	line-height: 50px;
}

.timer{
	width:50%;
	margin:0 auto;
	text-align: center;
}

.time{
	margin-top: 5px;
	margin-left: 5px;
}

.instruction{
	height: 10vh;
	width:50%;
	margin:0 auto;
}

.track{
	width: 100%;
	margin: auto;
}

.racer_table{
	width:100%;
}
tr{
	width:100%;
}

td{
	background-color: grey;
	width:36px;
	height:10vh;
	text-align: center;
	color: white;
}

#player1_strip{
	border-bottom: solid red 1px;
}

.image{
	max-width: 100%;
	max-height: 100%;
}

