
<body>
  <div class="top_space">
    <h1> STEP ON IT! </h1>
  </div>
  <div class="instruction">
    <p> Spam Q!</p>
  </div>
  <div class="row track">
    <table class="racer_table">
      <tr id="player1_strip">
        <td class= "active"><img src="images/car.jpeg" alt="car" class="image"></td>
        <td class = "active">-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr id="player2_strip">
        <td class="active"><img src="images/car2.jpeg" alt="car" class="image"></td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <p> Spam P!</p>
  </div>
</body>
</html>