
<body class="game">
  <div class="row">
    <div class="top_space col-8">
      <h1> STEP ON IT! </h1>
    </div>
    <div class="score_box col-4">
    <div class="basic stopwatch">Time:</div>
        
    </div>
  </div>
  <div class="instruction">
    <p> Player <%= @user1 %> </p>
    <p> Spam Q!</p>
  </div>
  <div class="row track">
    <table class="racer_table">
      <tr id="player1_strip">
        <td class= "active"><img src="images/car.jpeg" alt="car" class="image"></td>
        <td class = "active">-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr id="player2_strip">
        <td class="active"><img src="images/car2.jpeg" alt="car" class="image"></td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </table>
  </div>
  <div class="row instruction">
    <p> Player <%= @user2 %> </p>
  </div>
  <p class="row instruction"> Spam P!</p>
</pre>
</body>
</html>

<script> 
$(document).ready(function() {

});
</script>



