<div class="container">
  <h1> Welcome to Javascript Racer</h1>

  <h2> Please enter your names to start! </h2>
  <form action="/games" method="post">
    Player 1: <input type="text" name="player1">
    Player 2: <input type="text" name="player2">
    <input class="pull-right play" type="submit" value="Play!">
  </form>

  <div class="row" style="height:100px"> </div>

  <h2> Last 10 games </h2>
  <% @game_list.each do |game| %>
    <a href="/oldgame/<%= game.id %>">
      <p><%= game.users[0].name %> vs <%= game.users[1].name %></p>
    </a>
  <% end %>

</div>